
/* --------------------- Colores personalizados a Salvaje Tentación  --------------------- */
// Color-vino          
$red: #e73c30;
// Color-Gris-oscuro
$gray: #262626;
// Color-Gris-claro
$gray-light: #87898d;
$grayDark: #4a4f55;

$black: #2a2a2a;
$black-dark: #171616;
$blue-light: #00c0ff;
$blue: #008fd5;
$gray-base: #454545;
$gray-base-light: #e1e1e1;
$white: #fff;

$blue-facebook: #3B5998;
$red-google: #db3236;


