#branding {
    .btn {
        border-bottom: 0px;
        color: #fff;
        cursor: pointer;
        background: $red;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 100px;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .btn.disabled, .btn:disabled {
        opacity: 1;
    }
    .contact-branding {
        background-image: url('../img/backgrounds/bgidentidad2.jpg');
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        padding-top: 8%;
        padding-bottom: 7%;
        p {
            color: $white;
            font-size: 12px;
            margin-bottom: 7px;
            letter-spacing: 1px;
            position: relative;
            top: 10px;
        }
    }
    .contact-web {
        background-image: url('../img/backgrounds/bgweb1.jpg');
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        padding-top: 8%;
        padding-bottom: 7%;
        p {
            color: $white;
            font-size: 12px;
            margin-bottom: 7px;
            letter-spacing: 1px;
            position: relative;
            top: 10px;
        }
    }
    .contact-seo {
        background-image: url('../img/backgrounds/bg2.jpg');
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        padding-top: 8%;
        padding-bottom: 7%;
        p {
            color: $white;
            font-size: 12px;
            margin-bottom: 7px;
            letter-spacing: 1px;
            position: relative;
            top: 10px;
        }
    }
     .contact-sem {
         background-image: url('../img/backgrounds/bg3.jpg');
         background-position: center right;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 5%;
         padding-top: 8%;
         padding-bottom: 7%;
         p {
             color: $white;
             font-size: 12px;
             margin-bottom: 7px;
             letter-spacing: 1px;
             position: relative;
             top: 10px;
         }
     }
    .title-general {
        color: #FFF;
        font-size: 60px;
        padding-left: 0;
        &::after {
            content: "■";
            font-size: 15px;
        }
    }
    .seo-title-general{
        
            @include font-size($fontTitle); // font-size: 40px;
            font-weight: 700;
            color: $grayDark;
            padding: 0px 50px;
            margin-top: 100px;
            @include breakpoint(md-max) {
                margin-top: 0;
            }
            .img-icon-title {
                margin-right: 10px;
                margin-top: -10px;
                width: 25px;
            }

            &::after {
                content: "■";
                font-size: 10px; // margin-left: 0px;
                height: 50px;
                width: 50px;
            }
    }
    .interiorPuerta {
        padding-top: 5px!important;
        padding-bottom: 40px!important;
    }
    .info-descripBranding {
        p {
            padding: 5px 25px;
        }
    }
    .form-control {
        background-color: #efefef;
    }
}

// Media jQuerys
@include breakpoint(lg-max) {
    #branding {
        .title-general {
            font-size: 45px;
        }
    }
}

@include breakpoint(md-max) {
    #branding {
        .title-general {
            font-size: 40px;
            margin-bottom: 35px;
        }
    }
}