#contact {
    padding-top: 1px;
    .title-general {
        @include font-size($fontTitle);
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .contact-info {
        margin: auto;
        margin-top: 50px;
        max-width: 80%;
        h5 {
            color: #545454;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        p {
            @extend .small-gray;
            letter-spacing: 1px;
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
            top: 10px;
        }
        a {
            @extend .small-gray;
            letter-spacing: 1px;
            transition:all .5s ease-in-out;
            &:hover, &:focus {
                text-decoration:none; 
                color: $red;
            }
        }
        .p-address {
            top: 0!important;
        }
    }
    form {
        margin-top: 8%;
        input, textarea{
            border: 1px solid #d2d2d2;
            border-radius: 3px;
            box-shadow: none;
            font-size: 14px;
            font-weight: 100;
            padding: 10px;
        }
        .btn {
            border-bottom: 0px;
            color: #fff;
            cursor: pointer;
            background: $red;
            width: 100%;
            transition:all .5s ease-in-out;
            &:hover, &:focus {
            background: darken($red, 10%);
            // background: lighten($red, 10%);
            @include box-shadow(inset 0 1px 0 lighten($red, 20%));
        }
        
    }
}
    .with-errors{
        color: $red;
        font-size: 12px;
    }
    .container-iconH {
        padding: 0% 8% 3% 0%;
    }
}
#footer {
    color: #fff;
    .first {
        background: $red;
    }
    .second {
        background: #686868; 
        padding-top: 24px;
        padding-bottom: 15px;
        span {
            color: #c4c4c4;
        }
        img {
            margin-top: -5px;
            margin-right: 8px;
            
        }
    }
    p {
        font-size: 10px;
        font-weight: 100;
    }
    .title-footer, .privacity, .powered {
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .privacity {
       margin: 30px 0;
       a {
           color: #fff;
           text-decoration: none;
           &:hover, &:focus {
            //    color: rgb(230, 230, 230);
                color: lighten($red, 25%);
           }
       }
    }
    .partner {
        position: absolute;
        bottom: 30px;
        right: 35px;
    }
    .powered {
        margin: 30px 0;
        font-weight: 600;
    }
}


// Responsive
@include breakpoint(md-max) {
    #contact {
        padding-top: 50px;
        .content-form-contact { 
            padding: 0;
        }
        .container-iconH {
            padding: 3% 8% 5% 0%;
            img {
                width: 55px;
            }
        }
    }
    .subtitle-general {
        margin-top: 0px;
        padding: 0px 50px;
    }
    #footer {
        .partner {
            position: relative;
            bottom: 0;
            right: 0;
            top: 14px;
        }
    }
}

footer .title-general{
    // @media (max-width: 400px){
    //     font-size: 40px;
    // }
}