$redch: #e73c30;
$graych: #8d8e96;
$white: #fff;

/* Loader */
#page {
  display: none;
}
#page.visible {
  display: block;
}
#particles-js {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  img {
      width: 200px;
      @include breakpoint(md-max) {
          width: 200px;
      }   
  }
  .content-img {
      display: table-cell;
      text-align:center;  
      vertical-align: middle;
  }
  .content-gif {
      display: table; 
      height: 100vh;
      position: absolute;
      width: 99%;
      z-index: -1;
  }
}

.loaded {
  opacity: 0;
  -webkit-transition: all 1s 1s ease-out; 
  transition: all 1s 1s ease-out;
}
.loaded-img {
  opacity: 0;
  -webkit-transition: all 1.5s 1.5s ease-out; 
  transition: all 1.5s 1.5s ease-out;
}

body {
  background: $white!important;
  margin: 0;
}

header .row, footer .row{
  margin-left: 0;
  margin-right: 0;
}

.btn.disabled, .btn:disabled {
  pointer-events: none!important;
  cursor: no-drop!important;
}
.pd-none {
  padding: 0!important;
}
.mr-none {
  margin: 0!important;
}
// SweetAlert
.swal2-modal  {
  background: #eeee!important;
}
.swal2-modal .swal2-content {
  font-size: 17px;
}
.swal2-modal .swal2-styled {
  font-weight: normal!important;
  letter-spacing: .5px!important;
}
.title-general {
  @include font-size($fontTitle);
  // font-size: 40px;
  font-weight: 700;
  color: $grayDark;
  padding: 0px 50px;
  margin-top: 80px;
  @include breakpoint(md-max) {
    margin-top: 0;
  }
  .img-icon-title{
    margin-right: 10px;
    margin-top: -10px;
    width: 25px;
  }
  &::after {
    content: "■";
    font-size: 10px;
    // margin-left: 0px;
    height: 50px;
    width: 50px;
  }
}

.subtitle-general {
  color: $graych;
  font-weight: 100;
  margin-top: -16px;
  padding: 0px 100px;
}

.accenting {
  color: $white;
  letter-spacing: -.5px;
  margin-bottom: 0;
}

.accenting.first {
  margin-bottom: 25px;
}

.hidden-sm-down {
  @include breakpoint(md-max) {
    display: none;
  }
}

.hidden-sm-up {
  @include breakpoint(md-min) {
    display: none;
  }
}

.navbar-toggler {
  // background: $whiteOpacity;
  border: none; // top: -50;
  top: -78px;
  right: 10px;
  position: absolute;
  .navbar-toggler-icon {
    height: 1.2em;
    width: 1.2em;
  }
}

.navbar {
  padding: 0;
  margin-top: -25px;
  .navbar-collapse {
    padding-top: 30px;
  }
}

// Btn Float
// .btnFloat-phone, .btnFloat-email {
//   background: $red;
//   border-radius: 100%;
//   text-align: center;
//   height: 40px;
//   width: 40px;
//   position: fixed;
//   right: 93px;
//   bottom: 25px;
//   height: 56px;
//   width: 56px;
//   z-index: 10;
//   a {
//     color: $white!important;
//   }
// }
// .btnFloat-phone {
//   padding: 10px 10px;
//   i {
//     font-size: 2.6em;
//   }
// }
// .btnFloat-email {
//   padding: 13px 10px;
//   right: 159px;
//     i {
//       font-size: 2em;
//     }
// }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.js-theme-multiple {
  width: 100%!important;
}
.select2-container--classic {
  width: 100%!important;
  .select2-selection--multiple {
    border-color: #d2d2d2!important;
    .select2-selection__choice {
      background-color: #e8e8e8!important;
      border: none!important;
      color: #6a6e75!important;
      font-size: 14px;
    }
    .select2-selection__rendered {
      width: 100%!important;
      .select2-search__field {
        border: none!important;
        padding: 3px!important;
      }
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $red!important;
    
  }
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #d2d2d2!important;
}

.projectCliente {
  color: $grayLight;
  font-size: 10px!important;  
  letter-spacing: 1px; 
  padding-left: 20px;
}
.titleProjectCliente {
  color: $grayDark;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: .5px;
  margin-bottom: 0;
  margin-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}

// Responsive
@include breakpoint(md-max) {
  // Form
  form {
    input.input-ajust {
        margin-bottom: 1rem;
    }
  }
}