.noPaddingSides{
  padding: 0 1px;
}
.w50{
  @extend .noPaddingSides;
}
.w25{
  @extend .noPaddingSides;  
}
.titleProjects{
  color: rgb(187, 187, 187);
}



/***/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Common style */
.project-effect {

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    text-align: center;
    cursor: pointer;
    margin: 0;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
    }
    p {
      background: #FFF;
      margin: 0;
      padding: 10px 20px!important;
      text-align: left!important;
      width: 100%;
    }
    .title {
      color: $gray;
      font-size: 11px;
      font-weight: 800;
      letter-spacing: .5px;
      text-transform: uppercase;
    }
  }
  figcaption {
    padding: 1em;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:before, &:after {
      pointer-events: none;
    }
  }
  figcaption, 
  figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

}
/* Individual effects */

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath img,
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

// figure.effect-goliath:hover h2 {
// 	-webkit-transform: translate3d(0,-100px,0);
// 	transform: translate3d(0,-100px,0);
// }

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.project-effect figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
/***/

.containerProject{
  position: relative;
  padding: 1px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  a{
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.containerProject:hover{
  filter: opacity(85%);
  a{
    color: #e4e4e4;
  }
}

#gridInterior{
  padding-top: 50px;
  // padding-bottom: 100px;
  .containerProject{
    padding: 1px;
  }
}