#clients {
    .client-brand-servicie {
        margin: 20px 0;      
        width: 50%;
    }
    .client-brand-servicie.brand5, 
    .client-brand-servicie.brand7, 
    .client-brand-servicie.brand8 {
        width: 40%;
    }
    .client-brand-servicie.brand12 {
        width: 55%;
    }
    .client-brand-servicie.brand5-2 {
        width: 35%;
    }
    .client-brand-servicie.brand6-2 {
        width: 30%;
    }
}