/******************************************************************

Variables | Generales

******************************************************************/
/* ----------------------------------
    Colores
---------------------------------- */

$white: #fff;
$whiteOpacity: rgba(255, 255, 255, 0.5);
$gray:#4a4f55;
$grayLight: #8f9194;
$grayDark: #4a4f55;
$red: #e73c30;
$green: #01ed9d;


// ---------- Tree Haus -------------
